@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

body {
    margin: 0;
    margin-top: 50px;
    color: #404d5b;
    font-family: 'Lato', sans-serif;
}

section {
    padding: 6em 2em;
}

section p {
    font-size: 3em;
    line-height: 1.518;
    max-width: 1200px;
    margin: 0 auto;
}

p{
    max-width: 1200px;
    margin: 25px auto;
}

.dl a,
.dl a:hover,
.dl a:active,
.dl a:visited{
    background: #0370ea;
    background: -moz-linear-gradient(top,#008dfd 0,#0370ea 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#008dfd),color-stop(100%,#0370ea));
    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
    background: -o-linear-gradient(top,#008dfd 0,#0370ea 100%);
    background: -ms-linear-gradient(top,#008dfd 0,#0370ea 100%);
    background: linear-gradient(top,#008dfd 0,#0370ea 100%);
    border: 1px solid #076bd2;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff !important;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 1px 1px 1px #076bd2;
}